<h1>
  <%= params["date(1i)"] %>の支出
</h1>

合計 : <%= @expenditure_amounts.sum(:amount) %>円<br>

<% if current_user.expenditures.order(:name).present? %>
  <% current_user.expenditures.order(:name).each do |e| %>
    <%= link_to e.name, expenditure_amount_path(e) %> :
    <%= @expenditure_amounts.where(expenditure_id: e.id).sum(:amount) %>円<br>
  <% end %>
<% end %><br>
