<% provide(:title, "収入の合計")%>
<h1>今月の収入</h1>
<%= IncomeAmount.where(date: Time.zone.today.all_month, user_id: current_user.id).sum(:amount) %>円<br>

<% if current_user.incomes.order(:name).present? %>
  <% current_user.incomes.order(:name).each do |i| %>
    <%= link_to i.name, income_amount_path(i) %>
    <%= IncomeAmount.where(date: Time.zone.today.all_month, user_id: current_user.id, income_id: i.id).sum(:amount) %>円<br>
  <% end %>
<% end %><br>
