<% provide(:title, "アプリの使い方") %>
<h1>このアプリの使い方</h1>
<ul>
  <li>ユーザー登録がお済みでない方は、まずユーザー登録してください。</li>
  <li>ログイン後、「家計簿」ページから収入や支出の登録、収支の確認ができるページへと移ることができます。</li>
  <li>収入や支出の登録時はまず、科目を登録してください。<br>
    (収入科目なら給料やボーナス、お年玉など、支出科目なら食費や家賃、光熱費など)
  </li>
  <li>その後、各科目のページから「金額」と「その収入(または支出)が発生した日付」を登録してください。</li>
  <li>金額は0から1000000000000までの数字で入力してください。</li>
  <li>「家計簿」ページから「収支確認」ページへ移ると、月ごとや年ごとの収支が確認できます。</li>

</ul>
