<header>
  <div class="container">
    <%= link_to "DAB", root_path, id: "logo"%>
    <nav>
      <ul>
        <li><%= link_to "ホームページ", root_path %></li>
        <li><%= link_to "ヘルプ", help_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
